<body>
    <h1> Go, enter your data! </h1>
    <form action="/addData" method="POST">
        <input type="text", name="id", placeholder="Enter ID", required>
        <input type="text", name="name", placeholder="Enter name", required>
        <button> Submit </button>
    </form>
</body>
<br>
<form action="/">
    <button> Home </button>
</form>
<br>