 <h1>
  This is your Sails homepage! 
</h1>
<h2>
  What are you here for? 
</h2>
<form action="/viewData023">
  <button> View Data </button>
</form>
<form action="/addData023">
  <button> Add Data </button>
</form>