<body>
    <h1> Go, enter your data! </h1>
    <form action="/updateJob023" method="POST">
        <input type="text", name="jobName023", placeholder="Enter Job Name", required><br>
        <input type="text", name="partId023", placeholder="Enter Part ID", required><br>
        <input type="text", name="qty023", placeholder="Enter Quantity", required><br>
        <button> Submit </button>
    </form>
</body>
<br>
<form action="/">
    <button> Home </button>
</form>
<br>