<body>
    <h1>
        Go, get your data! 
    </h1>
    <br>
    <table>
        <thread>
            <tr>
                <th>Part ID </th>
                <th>Part Name </th>
            </tr>
        </thread>
        <tbody>
            <% parts.forEach(function(part){ %>
                <tr>
                    <td> <%= part.id %> </td>
                    <td> <%= part.name %> </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
<br>
<form action="/">
    <button> Home </button>
</form>
<br>

<form action="/addData">
    <button> Add Data </button>
</form>