<body>
    <h1>
        Go, get your data! 
    </h1>
    <br>
    <table>
        <thread>
            <tr>
                <th>Job Name </th>
                <th>Part ID </th>
                <th>Qty </th>
            </tr>
        </thread>
        <tbody>
            <% data023.forEach(function(record023){ %>
                <tr>
                    <td> <%= record023.job_name %> </td>
                    <td> <%= record023.part_id %> </td>
                    <td> <%= record023.quantity %> </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
<br>
<form action="/">
    <button> Home </button>
</form>
<br>

<form action="/addData023">
    <button> Add Data </button>
</form>